<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <title>Introduccion Vue.JS</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h1>Agregar Notas</h1>
                    <label>Nombre:</label>
                    <input type="text" class="form-control" v-model="nombre">
                    <label>Promedio:</label>
                    <input type="number" max="20" min="0"class="form-control" v-model="promedio">
                    <br>
                    <input type="button" value="Guardar" class="btn btn-success" v-on:click="AgregarCalificacion">
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>Lista de Notas</h1>
                    <table class="table">
                        <tr>
                            <th>Nombre</th>
                            <th>Promedio</th>
                        </tr>
                        <tr v-for="item in lista" v-bind:style="item.estado==false?'color:red':''">
                            <td v-text="item.nombre"></td>
                            <td v-text="item.promedio"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="text-center">
                        www.tekne+.com | @cmpmendoza
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/principal.js"></script>

</html>